$cWhite: #fff;
$cBlack: #222;
$cYellow: #f5d447;
$cBrown: #3f3136;
$cYellowText: #f1d869;
$cBlue: #0e4fc1;
$cGreyText: #9fa9ac;
$cGreyBorder: #d8e0e3;
$cGreyBg: #eff3f4;
$cGreen: #3FA400;
$cRed: #EF4044;
